@charset "utf-8";
/* CSS Document */

.wrapper {
	width: 600px;
	margin: 0 auto;
}

.etch {
	width: 600px;
	height: 600px;
	border: 2px solid grey;
}

.pixel {
	width: 10px;
	height: 10px;
	background: red;
	float: left;
}

.clear {
	margin-top: 30px;
	background: #F0F0F0;
	padding: 10px 10px;
	color: #666;
	text-decoration: none;
	display: inline-block;
	transition: .5s;
}

.clear:hover {
	background: #bcbcbc;
}